<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Move in App.Config of the application that will use the memcache-->
  <configSections>
    <sectionGroup name="NetcachedClient">
      <section name="Servers"
               type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>
  <!--Move in App.Config of the application that will use the memcache-->
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INetcachedServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:31106/NetcachedServer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INetcachedServer"
                contract="Netcached.Server.NetcachedServer.Adapter.INetcachedServer"
                name="BasicHttpBinding_INetcachedServer" />-->
        </client>
    </system.serviceModel>

  <!--Move in App.Config of the application that will use the memcache-->
  <NetcachedcClient>
    <Servers>
      <add key="localhost" value="31106" />
    </Servers>
  </NetcachedcClient>
  <!--Move in App.Config of the application that will use the memcache-->
</configuration>