<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INetcachedServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:31106/NetcachedServer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INetcachedServer"
                contract="Netcached.Server.NetcachedServer.Adapter.INetcachedServer"
                name="BasicHttpBinding_INetcachedServer" />
        </client>
    </system.serviceModel>
</configuration>