@model Netcached.Example.Models.FibonacciViewModel

@{
    ViewBag.Title = "Calculate";
}

<h2>@ViewBag.Title</h2>

<hr />

<div class="col-md-10">
    <a>The fibonacci number in position @Model.Position is @Model.Value .</a>
</div>

<hr />

